@model KermesseApp.Models.tbl_cat_gastos

@{
    ViewBag.Title = "Detalles categoría gastos";
}

<h2>Detalle</h2>

<div>
    @*<h4>tbl_cat_gastos</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <h5>
        <dt>
            @Html.DisplayNameFor(model => model.nombre_cat)
        </dt>
        </h5>

        <dd class="border border-dark col-md-4">
            @Html.DisplayFor(model => model.nombre_cat)
        </dd>

        <h5>
        <dt>
            @Html.DisplayNameFor(model => model.desc_cat)
        </dt>
        </h5>

        <dd class="border border-dark col-md-4">
            @Html.DisplayFor(model => model.desc_cat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Vw_tbl_cat_gastos")
</p>
