@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 1];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model KermesseApp.Models.tbl_kermesse
@{
    ViewBag.Title = "Guardar Kermesse";
}

<h3>Ingresar nueva kermesse</h3>

@using (Html.BeginForm("GuardarKer", "Tbl_kermesse", FormMethod.Post))
{
    @Html.AntiForgeryToken()


<div class="container">

    <hr />
    <div class="form-group row">
        <label class="form-label mt-2 row">Nombre de la Kermesse: </label>
        @Html.ValidationMessageFor(x => x.nombre, "", new { @class = "text-danger" })
        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
    </div>

    <div class="form-group row">
        <label class="form-label mt-2 row">Nombre de la parroquia: </label>
        @Html.DropDownListFor(model => model.id_parroquia, ViewBag.idparroquia as SelectList, "Seleccione...", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.id_parroquia, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <label class="form-label mt-2 row">Fecha de inicio de la kermesse: </label>
        @Html.ValidationMessageFor(x => x.fecha_inicio, "", new { @class = "text-danger" })
        @Html.TextBoxFor(x => x.fecha_inicio, new { @class = "form-control" })
    </div>

    <div class="form-group row">
        <label class="form-label mt-2 row">Fecha de finalización de la kermesse: </label>
        @Html.ValidationMessageFor(x => x.fecha_fin, "", new { @class = "text-danger" })
        @Html.TextBoxFor(x => x.fecha_fin, new { @class = "form-control" })
    </div>

    <div class="form-group row">
        <label class="form-label mt-2 row">Descripción de la kermesse: </label>
        @Html.ValidationMessageFor(x => x.desc_general, "", new { @class = "text-danger" })
        @Html.TextAreaFor(x => x.desc_general, new { @class = "form-control" })
    </div>

    <div class="container mt-3 col-xs-1" align="center">
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-success" />
            <input type="reset" value="Cancelar" class="btn btn-danger" />
            @Html.ActionLink("Regresar a la vista", "Vw_tbl_kermesse", "", new { @class = "btn btn-primary" })
        </div>
    </div>

</div>

}


