@model IEnumerable<KermesseApp.Models.tbl_cat_producto>

@{
    ViewBag.Title = "Ver categorías de productos";
}
<h2>Tabla de categoría producto</h2>

<p>

    @Html.ActionLink("Registrar nueva categoría", "InsertarCatProd", "", new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("FilterCatProd", "Tbl_cat_producto", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-xs-8 col-md-8">
            @*<label for="cadena" class="form-label col-md-2">Busqueda:</label>*@
            <div class="input-group">
                @Html.TextBox("cadena", null, new { @class = "form-control col-md-4", @placeholder = "Ingrese aquí los datos de la búsqueda" })
                <button type="submit" class="btn btn-block btn-success col-md-1" align="center">Buscar</button>
            </div>
        </div>
        <div class="form-group col-xs-4 col-md-4" align="right">
            @Html.ActionLink("PDF", "VerRptCatProductos", new { tipo = "PDF", cadena = Request.Form["cadena"] }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Excel", "VerRptCatProductos", new { tipo = "Excel" }, new { @class = "btn btn-success" })
        </div>
    </div>
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th scope="col">
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    <a href="@Url.Action("EditCatProd", new { id = item.id_cat_producto})"><i class="btn btn-outline-info">Editar</i></a> |
                    <a href="@Url.Action("ReadCatProd", new { id = item.id_cat_producto})"><i class="btn btn-outline-primary">Visualizar</i></a> |
                    <a href="@Url.Action("DeleteCatProd", new { id = item.id_cat_producto})"><i class="btn btn-outline-danger">Eliminar</i></a>
                </td>
            </tr>
        }

    </tbody>

</table>

