@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 1];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model KermesseApp.Models.RecuperarIDs
@{

    ViewBag.Title = "Formularios de reportes";
}

<h3>Formularios de reportes</h3>

@using (Html.BeginForm("ViewRpt", "rptFrm", FormMethod.Post))
{

    <div class="container row">
        <div class="form-group row">
            @Html.Label("Seleccione que reporte quiere visualizar", htmlAttributes: new { @class = "form-label mt-2 row" })
            @Html.DropDownList("Reportes", (List<SelectListItem>)ViewBag.reportes, "Seleccione un reporte", htmlAttributes: new { @class = "form-select", @id = "opciones", @onchange = "cambio();" })
        </div>
        <div class="form-group row">
            @Html.TextBox("Tipos",null, new { @class = "form-control", @hidden="true", @id="txtTipos" })
        </div>
    </div>

    <div class="container row">

        <div class="form-group row" id="divKermesse" style="display: none;">
            <br />
            <label class="form-label mt-2 row">Kermesse: </label>
            @Html.DropDownListFor(x => x.id_kermesse, ViewBag.id_kermesse as SelectList, "Seleccione...", htmlAttributes: new { @class = "form-select", @id = "kermesse" })
        </div>

        <div class="form-group row" id="divListaPrecio" style="display: none;">
            <label class="form-label mt-2 row">Lista precio:</label>
            @Html.DropDownListFor(x => x.id_listaprecio, ViewBag.id_listaprecio as SelectList, "Seleccione...", htmlAttributes: new { @class = "form-select", @id = "listaprecio" })

        </div>
        <div class="form-group row" id="divProducto" style="display: none;">
            <br />
            <label class="form-label mt-2 row">Producto:</label>
            @Html.DropDownListFor(x => x.id_producto, ViewBag.id_producto as SelectList, "Seleccione...", htmlAttributes: new { @class = "form-select", @id = "producto" })
        </div>

        <div class="form-group row" id="divComunidad" style="display: none;">
            <br />
            <label class="form-label mt-2 row">Comunidad:</label>
            @Html.DropDownListFor(x => x.id_comunidad, ViewBag.id_comunidad as SelectList, "Seleccione...", htmlAttributes: new { @class = "form-select", @id = "comunidad" })
        </div>

        <div class="container mt-3 col-xs-1" align="center">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-danger col-md-1" align="center" onclick="tipo_pdf();">PDF</button>
                <button type="submit" class="btn btn-block btn-success col-md-1" align="center" onclick="tipo_excel();">Excel</button>
            </div>
        </div>
    </div>

    }

    <script>
        function tipo_pdf() {
            document.getElementById("txtTipos").value = "PDF";
        }

        function tipo_excel() {
            document.getElementById("txtTipos").value = "Excel";
        }

        function cambio() {
            let opcion = document.getElementById("opciones").value;

            if (opcion == 1) {
                $("#divKermesse").show();
                $("#divListaPrecio").hide();
                $("#divProducto").hide();
                $("#divComunidad").show();
            }
            if (opcion == 2) {
                $("#divKermesse").show();
                $("#divListaPrecio").hide();
                $("#divProducto").hide();
                $("#divComunidad").hide();
            }
            if (opcion == 3) {
                $("#divKermesse").hide();
                $("#divListaPrecio").show();
                $("#divProducto").show();
                $("#divComunidad").hide();
            }
            if (opcion == 4) {
                $("#divKermesse").show();
                $("#divListaPrecio").hide();
                $("#divProducto").hide();
                $("#divComunidad").hide();
            }
            if (opcion == 5) {
                $("#divKermesse").show();
                $("#divListaPrecio").hide();
                $("#divProducto").hide();
                $("#divComunidad").hide();
            }
        }
    </script>

