@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 2];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model KermesseApp.Models.tbl_arqueocaja_det

@{
    ViewBag.Title = "Editar Detalle del Arqueo";
}

<h2>Editar</h2>

@using (Html.BeginForm("ActualizarArqueoCajaDet", "Tbl_arqueocaja", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>tbl_arqueocaja_det</h4>
    <hr />
    
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_arqueocaja_det)
        @Html.HiddenFor(model => model.id_arqueocaja)
        @Html.HiddenFor(model => model.subtotal, new { htmlAttributes = new { @id = "subtotal" } })
        @{
            int id = Model.id_arqueocaja;
        }

        <div class="form-group row">
            <label class="form-label mt-2 row">Moneda: </label>
            @Html.DropDownListFor(model => model.id_moneda, ViewBag.id_moneda as SelectList, "Seleccione una moneda...", htmlAttributes: new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.id_moneda, "", new { @class = "text-danger row" })
        </div>

        <div class="form-group row">
            <label class="form-label mt-2 row">Denominación: </label>
            @Html.DropDownListFor(model => model.id_denominacion, ViewBag.id_denominacion as SelectList, "Seleccione la denominación..", htmlAttributes: new { @class = "form-select", @id = "denominacion" })
            @Html.ValidationMessageFor(model => model.id_denominacion, "", new { @class = "text-danger row" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", @id = "cantidad" } })
            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger row" })
        </div>

        <div class="container mt-3 col-xs-1" align="center">
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" id="btnGuardar" />
                <a href="@Url.Action("ListArqueoCajaDet", new {id})"><i class="btn btn-primary">Regresar</i></a>
            </div>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    var typingTimer; 
    var doneTypingInterval = 200;  
    var $input = $("#cantidad");

    $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    $input.on('keydown', function () {
        clearTimeout(typingTimer);
    });

    function doneTyping() {
        let denominacionNombre = $("#denominacion option:selected").text()
        let cantidad = document.getElementById("cantidad").value;
        let subtotal = parseFloat(denominacionNombre) * parseFloat(cantidad);

        document.getElementById("subtotal").value = subtotal;
    }
</script>
