@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string opcionActual;
    string[] separado = url.Split('/');
    if (separado.Length == 5)
    {
        opcionActual = separado[separado.Length - 1];
    }
    else
    {
        opcionActual = separado[separado.Length - 2];
    }
    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model IEnumerable<KermesseApp.Models.tbl_arqueocaja>

@{
    ViewBag.Title = "Lista Arqueos";
}

<h2>Gestión de Arqueos</h2>

<p>
    @Html.ActionLink("Nuevo Arqueo", "VistaGuardarArqueo")
</p>

@using (Html.BeginForm("FiltrarArqueo", "Tbl_arqueocaja", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-xs-8 col-md-8">
            <span class="input-group">
                @Html.TextBox("cadena", null, new { @class = "form-control col-md-4", @placeholder = "Ingrese aquí los datos de la búsqueda" })
                <button type="submit" class="btn btn-success col-md-1">Buscar</button>
            </span>
        </div>
    </div>
}

<div class="row"></div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.tbl_kermesse.nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.fecha_arqueo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.gran_total)
            </th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_kermesse.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_arqueo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gran_total)
                </td>
                <td>
                    <a href="@Url.Action("EditarArqueo", new { id = item.id_arqueocaja})"><i class="btn btn-outline-info">Editar</i></a>  |
                    <a href="@Url.Action("ListArqueoCajaDet", new { id = item.id_arqueocaja})"><i class="btn btn-outline-primary">Detalles</i></a> |
                    <a href="@Url.Action("EliminarArqueo", new { id = item.id_arqueocaja})"><i class="btn btn-outline-danger">Eliminar</i></a>
                </td>
            </tr>
        }
    <tbody>
</table>
