@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string opcionActual;
    string[] separado = url.Split('/');
    if (separado.Length == 5)
    {
        opcionActual = separado[separado.Length - 1];
    }
    else
    {
        opcionActual = separado[separado.Length - 2];
    }
    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model IEnumerable<KermesseApp.Models.tbl_arqueocaja_det>

@{
    ViewBag.Title = "Detalle del Arqueo seleccionado";
}

<h2>Detalle del Arqueo</h2>

@{
    var id = Request.Params["id"];
    int n = 0;
    int idArqueo = 0;
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.tbl_moneda.nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.tbl_denominacion.valor)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.subtotal)
            </th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (n == 0)
            {
                <p>
                    <a href="@Url.Action("VistaGuardarArqueoCajaDet", new { id = item.id_arqueocaja})"><i>Nuevo Detalle</i></a>
                </p>

                n++;
                idArqueo = item.id_arqueocaja;

                using (Html.BeginForm("FiltrarArqueoCajaDet", "Tbl_arqueocaja", FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group col-xs-8 col-md-8">
                            <span class="input-group">
                                @Html.TextBox("cadena", null, new { @class = "form-control col-md-4", @placeholder = "Ingrese aquí los datos de la búsqueda" })
                                @Html.Hidden("id", new { value = idArqueo })
                                <button type="submit" class="btn btn-success col-md-1">Buscar</button>
                            </span>
                        </div>
                           <div class="form-group col-xs-4 col-md-4" align="right">
                                @Html.ActionLink("PDF", "ViewRptDetalle", new { tipo = "PDF", cadena = Request.Form["cadena"], id = idArqueo }, new { @class = "btn btn-danger" })
                                @Html.ActionLink("Excel", "ViewRptDetalle", new { tipo = "Excel", cadena = Request.Form["cadena"], id = idArqueo }, new { @class = "btn btn-success" })
                           </div>
                    </div>
                }

                <div class="row"></div>
            }

            <tr class="table-active">
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_moneda.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_denominacion.valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subtotal)
                </td>
                <td>
                    <a href="@Url.Action("EditarArqueoCajaDet", new { id = item.id_arqueocaja_det})"><i class="btn btn-outline-info">Editar</i></a>  |
                    <a href="@Url.Action("EliminarArqueoCajaDet", new { id = item.id_arqueocaja_det})"><i class="btn btn-outline-danger">Eliminar</i></a>
                </td>
            </tr>
        }
<tbody>
</table>
