@model KermesseApp.Models.tbl_arqueocaja

@{
    ViewBag.Title = "Nuevo(s) Detalle(s) de Arqueo";
}

<h2>Añada nuevos detalles al arqueo</h2>

@using (Html.BeginForm("GuardarArqueoCajaDet", "Tbl_arqueocaja", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Ingrese los datos del nuevo detalle</h4>
    <hr />

    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_arqueocaja)
        @{
            int id = Model.id_arqueocaja;
        }

        <div class="form-group row">
            <label class="form-label mt-2 row">Moneda: </label>
            @Html.DropDownListFor(model => model.detalle.id_moneda, ViewBag.id_moneda as SelectList, "Seleccione una moneda...", htmlAttributes: new { @class = "form-select", @id = "moneda" })
            @Html.ValidationMessageFor(model => model.detalle.id_moneda, "", new { @class = "text-danger row" })
        </div>

        <div class="form-group row">
            <label class="form-label mt-2 row">Denominación: </label>
            @Html.DropDownListFor(model => model.detalle.id_denominacion, ViewBag.id_denominacion as SelectList, "Seleccione la denominación..", htmlAttributes: new { @class = "form-select", @id = "denominacion" })
            @Html.ValidationMessageFor(model => model.detalle.id_denominacion, "", new { @class = "text-danger row" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.detalle.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.detalle.cantidad, new { htmlAttributes = new { @class = "form-control", @id = "cantidad" } })
            @Html.ValidationMessageFor(model => model.detalle.cantidad, "", new { @class = "text-danger row" })
        </div>

        <div class="container mt-3 col-xs-1" align="center">
            <div class="form-group">
                <input value="Agregar" class="btn btn-outline-success" type="button" onclick="AgregarDetalle(); return false;" />
            </div>
        </div>

        <br />
        <br />

        <div class="row" id="divArqueo" style="display: none;">
            <table id="tablaArqueo" class="table table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Moneda</th>
                        <th>Denominación</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="container mt-3 col-xs-1" align="center">
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="@Url.Action("ListArqueoCajaDet", new {id})"><i class="btn btn-primary">Regresar</i></a>
            </div>
        </div>
    </div>
}

<script>
    var num = 0;
    function AgregarDetalle() {
        let moneda = document.getElementById("moneda").value;
        let monedaNombre = $("#moneda option:selected").text()
        let denominacion = document.getElementById("denominacion").value;
        let denominacionNombre = $("#denominacion option:selected").text()
        let cantidad = document.getElementById("cantidad").value;
        let subtotal = parseFloat(denominacionNombre) * parseFloat(cantidad);

        //agregamos a la tabla
        $("#divArqueo").show();
        let tabla = document.getElementById("tablaArqueo");

        let TR = document.createElement("tr");
        let TDMoneda = document.createElement("td");
        let TDDenominacion = document.createElement("td");
        let TDCantidad = document.createElement("td");
        let TDSubtotal = document.createElement("td");
        TR.appendChild(TDMoneda);
        TR.appendChild(TDDenominacion);
        TR.appendChild(TDCantidad);
        TR.appendChild(TDSubtotal);
        TDMoneda.innerHTML = monedaNombre;
        TDDenominacion.innerHTML = denominacionNombre;
        TDCantidad.innerHTML = cantidad;
        TDSubtotal.innerHTML = subtotal;
        tabla.appendChild(TR);

        //agregamos hiddens
        let divArqueo = document.getElementById("divArqueo");
        let HiddenIndex = document.createElement("input");
        let HiddenMoneda = document.createElement("input");
        let HiddenDenominacion = document.createElement("input");
        let HiddenCantidad = document.createElement("input");
        let HiddenSubtotal = document.createElement("input");

        HiddenIndex.name = "tbl_arqueocaja_dets.Index";
        HiddenIndex.value = num;
        HiddenIndex.type = "hidden";

        HiddenMoneda.name = "tbl_arqueocaja_dets[" + num + "].id_moneda";
        HiddenMoneda.value = moneda;
        HiddenMoneda.type = "hidden";

        HiddenDenominacion.name = "tbl_arqueocaja_dets[" + num + "].id_denominacion";
        HiddenDenominacion.value = denominacion;
        HiddenDenominacion.type = "hidden";

        HiddenCantidad.name = "tbl_arqueocaja_dets[" + num + "].cantidad";
        HiddenCantidad.value = cantidad;
        HiddenCantidad.type = "hidden";

        HiddenSubtotal.name = "tbl_arqueocaja_dets[" + num + "].subtotal";
        HiddenSubtotal.value = subtotal;
        HiddenSubtotal.type = "hidden";

        divArqueo.appendChild(HiddenIndex);
        divArqueo.appendChild(HiddenMoneda);
        divArqueo.appendChild(HiddenDenominacion);
        divArqueo.appendChild(HiddenCantidad);
        divArqueo.appendChild(HiddenSubtotal);

        document.getElementById("cantidad").value = "";
        $("#moneda").val("")
        $("#denominacion").val("")
        num++
    }
</script>

