@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 2];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model KermesseApp.Models.tbl_productos

@{
    ViewBag.Title = "Ver datos del producto seleccionado";
}

<h2>Ver datos del producto</h2>

<div>
    <h4>Producto seleccionado</h4>
    <hr />
    <dl class="dl-horizontal">
        <h5 class=" mt-2 col-xs-1" align="center">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        </h5>

        <dd class=" mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <h5 class=" mt-2 col-xs-1" align="center">
            <dt>
                @Html.DisplayNameFor(model => model.desc_presentacion)
            </dt>
        </h5>


        <dd class=" mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.desc_presentacion)
        </dd>

        <h5 class=" mt-2 col-xs-1" align="center">
            <dt>
                @Html.DisplayNameFor(model => model.cantidad)
            </dt>
        </h5>

        <dd class=" mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <h5 class=" mt-2 col-xs-1" align="center">
            <dt>
                @Html.DisplayNameFor(model => model.precio_venta)
            </dt>
        </h5>
        <dd class=" mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.precio_venta)
        </dd>
        <h5 class=" mt-2 col-xs-1" align="center">
            <dt>
                @Html.DisplayNameFor(model => model.tbl_cat_producto.nombre)
            </dt>
        </h5>

        <dd class=" mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.tbl_cat_producto.nombre)
        </dd>
        <h5 class=" mt-2 col-xs-1" align="center">
            <dt>
                @Html.DisplayNameFor(model => model.tbl_comunidad.nombre)
            </dt>
        </h5>
        <dd class=" mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.tbl_comunidad.nombre)
        </dd>

    </dl>
</div>

<div class="container mt-3 col-xs-1" align="center">
    <div class="form-group">
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.id_producto }) |*@
            @Html.ActionLink("Regresar a la vista", "ListProductos", "", new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

