@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 2];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model KermesseApp.Models.tbl_parroquia

@{
    ViewBag.Title = "Detalles parroquia";
}

<h2>Detalles parroquia</h2>

<div>
    <h4>Parroquia</h4>
    <hr />
    <dl class="dl-horizontal">
        <h5 class="mt-2 col-xs-1" align="center">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        </h5>

        <dd class="mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <h5 class="mt-2 col-xs-1" align="center">
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt></h5>

        <dd class="mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <h5 class="mt-2 col-xs-1" align="center">
        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt></h5>

        <dd class="mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <h5 class="mt-2 col-xs-1" align="center">
        <dt>
            @Html.DisplayNameFor(model => model.parroco)
        </dt></h5>

        <dd class="mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.parroco)
        </dd>

        <h5 class="mt-2 col-xs-1" align="center">
        <dt>
            @Html.DisplayNameFor(model => model.url_logo)
        </dt>
        </h5>

        <dd class="mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.url_logo)
        </dd>

        <h5 class="mt-2 col-xs-1" align="center"><dt>
            @Html.DisplayNameFor(model => model.sitio_web)
        </dt></h5>

        <dd class="mt-2 col-xs-1" align="center">
            @Html.DisplayFor(model => model.sitio_web)
        </dd>

    </dl>
</div>
<div class="container mt-3 col-xs-1" align="center">
    <div class="form-group">
        <p>
            @*@Html.ActionLink("Edit", "Vw_Edit_comunidad", new { id = Model.id_cat_producto }) |*@
            @Html.ActionLink("Regresar a la vista", "Vw_tbl_parroquia", "", new { @class = "btn btn-primary" })
        </p>
    </div>
</div>