@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 2];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model KermesseApp.Models.tbl_listaprecio_det

@{
    ViewBag.Title = "EditListaPrecioDet";
}

<h2>EditListaPrecioDet</h2>

@using (Html.BeginForm("UpdateListPrecioDet", "Tbl_listaprecio", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_listaprecio_det</h4>
        <hr />
        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_listaprecio_det)


            @{
                int id = Model.id_listaprecio;
            }

            @*<div class="form-group">*@
            @*@Html.LabelFor(model => model.id_listaprecio, "id_listaprecio", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">*@
            @Html.HiddenFor(model => model.id_listaprecio)
            @*@Html.DropDownList("id_listaprecio", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.id_listaprecio, "", new { @class = "text-danger" })*@
            @*</div>
        </div>*@



            <div class="form-group row">
                @Html.LabelFor(model => model.id_producto, htmlAttributes: new { @class = "form-label mt-2 row" })
                @Html.DropDownListFor(model => model.id_producto, null, htmlAttributes: new { @class = "form-select" })
                @*@Html.DropDownList("id_producto", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.id_producto, "", new { @class = "text-danger" })

            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.precio_venta, htmlAttributes: new { @class = "form-label mt-2 row" })
                @Html.EditorFor(model => model.precio_venta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precio_venta, "", new { @class = "text-danger" })

            </div>

            <div class="container mt-3 col-xs-1" align="center">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar cambios" class="btn btn-success" />
                        <a href="@Url.Action("LisListaPrecioDet", new {id})"><i class="btn btn-primary">Regresar a la vista</i></a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
}
