@using KermesseApp.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities ke = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<Vw_rol_opcion> listopc = new List<Vw_rol_opcion>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = ke.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = ke.Vw_rol_opcion.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string opcionActual;
    string[] separado = url.Split('/');
    if (separado.Length == 5)
    {
        opcionActual = separado[separado.Length - 1];
    }
    else
    {
        opcionActual = separado[separado.Length - 2];
    }
    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }
}

@model IEnumerable<KermesseApp.Models.tbl_listaprecio_det>

@{
    ViewBag.Title = "Productos de la lista de precios";
}

<h2>Productos de la lista de precios</h2>

<p>
    @{
        var id = Request.Params["id"];
        var id_prueba = Request.QueryString["id"];
        int n = 0;
        int idlista = 0;
        Console.Write(id);
        Console.Write(id_prueba);
    }
</p>

<table class="table table-hover">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tbl_productos.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_venta)
            </th>

            <th>
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            if (n == 0)
            {
                <p>
                    <a href="@Url.Action("Inp", new { id = item.id_listaprecio})">Añadir nuevo producto</a>
                </p>

                n = n + 1;
                idlista = item.id_listaprecio;


                using (Html.BeginForm("FilterListaPreciosDet", "Tbl_listaprecio", FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group col-xs-8 col-md-8">
                            <div class="input-group">
                                @Html.TextBox("cadena", null, new { @class = "form-control col-md-4", @placeholder = "Ingrese aquí los datos de la búsqueda" })
                                @Html.Hidden("id", new { value = idlista })
                                <button type="submit" class="btn btn-block btn-success col-md-1" align="center">Buscar</button>
                            </div>
                        </div>

                        <div class="form-group col-xs-4 col-md-4" align="right">
                            @Html.ActionLink("PDF", "VerRptListaPrecioDet", new { tipo = "PDF", cadena = Request.Form["cadena"], idlistaprecio = idlista }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Excel", "VerRptListaPrecioDet", new { tipo = "Excel", cadena = Request.Form["cadena"], idlistaprecio = idlista }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                }

            }
            if (item.tbl_productos.estado != 3)
            {
                <tr class="table-active">
                    <td>
                        @Html.DisplayFor(modelItem => item.tbl_productos.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio_venta)
                    </td>

                    <td>
                        <a href="@Url.Action("EditListaPrecioDet", new { id = item.id_listaprecio_det})"><i class="btn btn-outline-info">Editar</i></a> |
                        <a href="@Url.Action("DeleteListaPrecioDet", new { id = item.id_listaprecio_det})"><i class="btn btn-outline-danger">Eliminar</i></a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
