@model IEnumerable<KermesseApp.Models.tbl_listaprecio>

@{
    ViewBag.Title = "Listas de precios";
}

<h2>Listas de precios activas</h2>

<p>
    @Html.ActionLink("Registrar nueva lista precio", "ViewInsertListaPrecio", "", new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("FilterListaPrecios", "Tbl_listaprecio", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-xs-8 col-md-8">
            <div class="input-group">
                @Html.TextBox("cadena", null, new { @class = "form-control col-md-4", @placeholder = "Ingrese aquí los datos de la búsqueda" })
                <button type="submit" class="btn btn-block btn-success col-md-1" align="center">Buscar</button>
            </div>
        </div>

        <div class="form-group col-xs-4 col-md-4" align="right">
            @Html.ActionLink("PDF", "VerRptListaPrecio", new { tipo = "PDF", cadena = Request.Form["cadena"] }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Excel", "VerRptListaPrecio", new { tipo = "Excel" }, new { @class = "btn btn-success" })
        </div>
    </div>

}


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_kermesse.nombre)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_kermesse.nombre)
                </td>
                <td>
                    <a href="@Url.Action("EditListaPrecio", new { id = item.id_listaprecio})"><i class="btn btn-outline-info">Editar</i></a> |
                    <a href="@Url.Action("LisListaPrecioDet", new { id = item.id_listaprecio})"><i class="btn btn-outline-primary">Detalle</i></a> |
                    <a href="@Url.Action("DeleteListaPrecio", new { id = item.id_listaprecio})"><i class="btn btn-outline-danger">Eliminar</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



<table class="table">
</table>
