<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kermesse App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Kermesse App", "Index", "Home", "", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav me-auto">
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
                            General
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Vw_tbl_parroquia", "tbl_parroquia")">Parroquia</a>
                            <a class="dropdown-item" href="@Url.Action("Vw_tbl_kermesse", "tbl_kermesse")">Kermesse</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
                            Arqueo Caja
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("ListMonedas", "Tbl_moneda")">Moneda</a>
                            <a class="dropdown-item" href="@Url.Action("ListDenominaciones", "Tbl_denominacion")">Denominación</a>
                            <a class="dropdown-item" href="@Url.Action("ListArqueos", "Tbl_arqueocaja")">Arqueo</a>
                            <a class="dropdown-item" href="@Url.Action("LisTasaCambio", "tbl_tasacambio")">Tasa Cambio</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
                            Gastos
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Vw_tbl_cat_gastos", "tbl_cat_gastos")">Categoría Gastos</a>
                            <a class="dropdown-item" href="@Url.Action("Vw_tbl_gastos", "tbl_gastos")">Gastos</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
                            Ingresos
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Vw_tbl_bono", "tbl_bono")">Bonos</a>
                            <a class="dropdown-item" href="@Url.Action("Vw_tbl_comunidad", "tbl_comunidad")">Comunidad</a>
                            <a class="dropdown-item" href="@Url.Action("Vw_tbl_IngresoCom", "IngresoCom")">Ingreso Comunidad</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
                            Precios
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("ListCatProductos", "Tbl_cat_producto")">Categoría de productos</a>
                            <a class="dropdown-item" href="@Url.Action("ListProductos", "Tbl_producto")">Productos</a>
                            <a class="dropdown-item" href="@Url.Action("ListListaprecio", "Tbl_listaprecio")">Lista de precio</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
                            Seguridad
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("ListUsuario", "tbl_usuario")">Usuario</a>
                            <a class="dropdown-item" href="@Url.Action("ListRol", "tbl_rol")">Rol</a>
                            <a class="dropdown-item" href="@Url.Action("ListOpciones", "tbl_opciones")">Opciones</a>
                            <a class="dropdown-item" href="@Url.Action("ListRolOpcion", "tbl_rolOpcion")">Rol - Opciones</a>
                            <a class="dropdown-item" href="@Url.Action("ListRolUsuario", "tbl_rolUsuario")">Rol - Usuario</a>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Reportes especiales", "Vw_RptFrm", "rptFrm", "", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Cerrar Sesión", "Logout", "tbl_usuario", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-md-5 col-md-12">
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Todos los derechos reservados</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap-sketchy")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
